<div class="align">
  <h2>Explore Japan</h2>
  <div class="row">
    <div class="col-md-2">
      <div class="explorediv">
        <h4><img src="./assets/class.png" alt="" class="smallimage"> Classes &amp; Workshops</h4>
      </div>
    </div>
    <div class="col-md-2">
      <div class="explorediv">
        <h4><img src="./assets/concert.png" alt="" class="smallimage">Concerts</h4>
      </div>
    </div>
    <div class="col-md-2">
      <div class="explorediv">
        <h4><img src="./assets/food.png" alt="" class="smallimage"> Food &amp; Drink</h4>
      </div>
    </div>
    <div class="col-md-2">
      <div class="explorediv">
        <h4><img src="./assets/arts.png" alt="" class="smallimage"> Arts</h4>
      </div>
    </div>
    <div class="col-md-2">
      <div class="explorediv">
      <h4><img src="./assets/sports.png" alt="" class="smallimage"> Sports</h4>
      </div>
    </div>
    <div class="col-md-2">
      <div class="explorediv">
        <h4><img src="./assets/nature.png" alt="" class="smallimage"> Nature</h4>
      </div>
    </div>
  </div>
  <button type="button" name="button" class="btn btn-default" id="next"><i class="chevron right icon"></i></button>
  <div class="">
    <div [innerHtml]="loginHTML | safeHtml | async">
    </div>
  </div>
</div>
