<div class="align">
  <h1>Experience Kobe</h1>
  <h6>Have fun in this port city!</h6>
  <div class="row">
    <div class="col-md-2">
      <div class="kobediv">
      </div>
    </div>
    <div class="col-md-2">
      <div class="kobediv">
      </div>
    </div>
    <div class="col-md-2">
      <div class="kobediv">
      </div>
    </div>
    <div class="col-md-2">
      <div class="kobediv">
      </div>
    </div>
    <div class="col-md-2">
      <div class="kobediv">
      </div>
    </div>
    <div class="col-md-2">
      <div class="kobediv">
      </div>
    </div>
  </div>
</div>
