.align {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 40px;
}
h2, h5 {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #484848;
}

.description {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #484848;
}

.row {
  padding-top: 10px;
}
.kobeimg {
  width: 100%;
  height: 250px;
}

.stars {
  color: #118488;
}
