
#icon {
  width: 40px;
}


a {
  text-align:right;
  color: black !important;
}

li {
  color: black;
}

input::placeholder {
  color: black !important;
  font-size: 17px;
}
i {
  font-size: 23px !important;
}
#input {
  -moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc;
  width: 400px;
  height: 50px;
  color: black;
}

#profile {
  border-radius: 50%;
  width:30px;
  border-: 1px solid lightgrey;
}

.search {
  width:25px;
}

.navbar {
  background-color: white !important;
}
