#mapbox {
  height: 100%;
  width: 70%;
}

#sidebar {
  float: left;
  height: 100%;
  width:30%;
  background-color: white;
}

#google {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.ui.search {
  width: 200px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
