h1, h2, h3, h4 {
  text-align: center;
}

h6 {
  text-align: center;
}
#mapbox {
  height: 100%;
  width: 70%;
}

#sidebar {
  float: left;
  height: 100%;
  width:30%;
  background-color: white;
  overflow: hidden;
}

#underbar {
height: 50%;
color: black;
}

.star {
  background-color:#F2BD42;
  color: white;
  text-align: center;
  display: block;
  margin: 0 auto;
}

#yoogle {
  overflow: hidden;
  width: 100%;
}
#google {
  width: 100px;
  display: block;
  margin: 0 auto;
}

#image {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 50%
}

#scroll {
  overflow-y: scroll;
  height: 100%;
}

#read {
  border: none;
  text-align: center;
  color: black;
}

.ui.search {
  width: 200px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.business {
  text-align: center;
  display: block;
  margin: 0 auto;
}
