
<div id="sidebar">
  <img src="../assets/logo.png" id="google">
  <br>
  <form action="index.html" method="post">
    <div class="ui search">
      <div class="ui icon input">
        <input #inputLocation class="prompt" type="text" placeholder="Search location" id="input">
        <i class="search icon"></i>
      </div>
      <br><br>
      <button (click)="getData(inputLocation.value)" (click)="getMapPosition()" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <hr>
  <div class="container">
    <h1>Welcome to Yoogle!</h1>
    <h3>Your one stop shop for finding popular destinations in the location of your choice!</h3>
    <div *ngFor="let location of locations" class="results">
      <h3></h3>

    </div>
  </div>
</div>

<div id="mapbox">
</div>
