<div class="align">
  <h2>Experience Hokkaido</h2>
  <h5>Put on your winter gear and check out this cool spot!</h5>
  <div class="row">
    <div class="col-md-2">
      <div class="kobediv">
        <img src="./assets/beer.png" alt="" class="hokkimg">
        <br><br>
        <h5>Sapporo Beer Factory · Hokkaido</h5>
        <h6 class="description">Crack open a cold one with the boys.</h6>
        <h5>$20 per person</h5>
        <h1 class="stars">⋆⋆⋆⋆</h1>
      </div>
    </div>
    <div class="col-md-2">
      <div class="kobediv">
        <img src="./assets/crater.png" alt="" class="hokkimg">
        <br><br>
        <h5>Hike to a Crater · Hokkaido</h5>
        <h6 class="description">Take in the winter nature scene of Noboribetsu!</h6>
        <h5>$15 per person</h5>
        <h1 class="stars">⋆⋆⋆⋆⋆</h1>
      </div>
    </div>
    <div class="col-md-2">
      <div class="kobediv">
        <img src="./assets/noboribetsu.png" alt="" class="hokkimg">
        <br><br>
        <h5>Explore Noboribetsu · Hokkaido</h5>
        <h6 class="description">Walk the streets of Noboribetsu with a local!</h6>
        <h5>$25 per person</h5>
        <h1 class="stars">⋆⋆⋆⋆⋆</h1>
      </div>
    </div>
    <div class="col-md-2">
      <div class="kobediv">
        <img src="./assets/sushi.png" alt="" class="hokkimg">
        <br><br>
        <h5>Sushi Time · Hokkaido</h5>
        <h6 class="description">Eat an omakase sushi course with your own sushi chef.</h6>
        <h5>$150</h5>
        <h1 class="stars">⋆⋆⋆⋆⋆</h1>
      </div>
    </div>
    <div class="col-md-2">
      <div class="kobediv">
        <img src="./assets/uni.png" alt="" class="hokkimg">
        <br><br>
        <h5>Food Tour · Hokkaido</h5>
        <h6 class="description">Explore the food stalls in Sapporo with this local!</h6>
        <h5>$20</h5>
        <h1 class="stars">⋆⋆⋆⋆</h1>
      </div>
    </div>
    <div class="col-md-2">
      <div class="kobediv">
        <img src="./assets/yuki.png" alt="" class="hokkimg">
        <br><br>
        <h5>Guided Yuki Matsuri · Hokkaido</h5>
        <h6 class="description">Walk around Odori Park and look at ice sculptures.</h6>
        <h5>$10</h5>
        <h1 class="stars">⋆⋆⋆⋆⋆</h1>
      </div>
    </div>
  </div>
</div>
