<div class="align">
  <h2>Experience Hokkaido</h2>
  <h5>Put on your winter gear and check out this cool spot!</h5>
  <div class="row">
    <div class="col-md-2">
      <div class="kobediv">
        <img src="./assets/beer.png" alt="" class="hokkimg">
        <br><br>
        <h5>Dine over Harborland · Kobe</h5>
        <h6 class="description">Have drinks with a local and learn about Kobe!</h6>
        <h5>$45 per person</h5>
        <h1 class="stars">⋆⋆⋆⋆⋆</h1>
      </div>
    </div>
    <div class="col-md-2">
      <div class="kobediv">
        <img src="./assets/crater.png" alt="" class="hokkimg">
        <br><br>
        <h5>Participate in Hanami · Kobe</h5>
        <h6 class="description">Drink beer and sake under the sakura flowers!</h6>
        <h5>$25 per person</h5>
        <h1 class="stars">⋆⋆⋆⋆⋆</h1>
      </div>
    </div>
    <div class="col-md-2">
      <div class="kobediv">
        <img src="./assets/noboribetsu.png" alt="" class="hokkimg">
        <br><br>
        <h5>Kobe Walking Tour · Kobe</h5>
        <h6 class="description">Walk the streets of Kobe with a local!</h6>
        <h5>$15 per person</h5>
        <h1 class="stars">⋆⋆⋆⋆</h1>
      </div>
    </div>
    <div class="col-md-2">
      <div class="kobediv">
        <img src="./assets/sushi.png" alt="" class="hokkimg">
        <br><br>
        <h5>Guided Walk · Kobe</h5>
        <h6 class="description">Learn all about Japanese religion at the famous Ikuta Jinja.</h6>
        <h5>free</h5>
        <h1 class="stars">⋆⋆⋆⋆</h1>
      </div>
    </div>
    <div class="col-md-2">
      <div class="kobediv">
        <img src="./assets/uni.png" alt="" class="hokkimg">
        <br><br>
        <h5>Coffee Break · Kobe</h5>
        <h6 class="description">Drink coffee with an expert!</h6>
        <h5>$20</h5>
        <h1 class="stars">⋆⋆⋆⋆⋆</h1>
      </div>
    </div>
    <div class="col-md-2">
      <div class="kobediv">
        <img src="./assets/yuki.png" alt="" class="hokkimg">
        <br><br>
        <h5>Herb Garden · Kobe</h5>
        <h6 class="description">Take in the fragrances with a guided tour!</h6>
        <h5>$20</h5>
        <h1 class="stars">⋆⋆⋆⋆⋆</h1>
      </div>
    </div>
  </div>
</div>
